@page
@using System.Text;
@model CrmWeb.Pages.Clients.CustomersModel
@{
}

@section scripts {
    <script>
        $(document).ready(function () {

            $('#searchInput').on('keyup', function () {
                var value = $(this).val().toLowerCase();
                $('table tbody tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
                toggleClearSearchIcon();
            });

            $('#clearSearch').click(function () {
                $('#searchInput').val('').keyup();
            });

            function toggleClearSearchIcon() {
                var value = $('#searchInput').val();
                var clearSearch = $('#clearSearch');
                if (value.length > 0) {
                    clearSearch.show();
                } else {
                    clearSearch.hide();
                }
            }
            toggleClearSearchIcon();
        });
    </script>
 }

<div class="row mt-2">
    <div class="col-md-4">
        <div class="input-group">
            <input class="form-control border" type="search" placeholder="search" id="searchInput">
        </div>
    </div>
</div>
<form>
    <caption class="mt-2">List of customers</caption>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">PLZ</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@item.Name</td>
                    <td>@item.Phone</td>
                    <td>@item.Address</td>
                    <td>@item.PLZ</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="/Clients/EditCustomers?id=@{
                          byte[] encoding = Encoding.UTF8.GetBytes(item.Id.ToString());
                          string base64Id = Convert.ToBase64String(encoding);
                                  @base64Id
                        }">Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Clients/DeleteCustomers?id=@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>