@page
@model CrmWeb.Pages.Clients.EditOrdersModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] @Model.Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CrmWeb.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href='~/css/StyleSheet.css'>
    <link rel="stylesheet" href='~/css/PrintStyles.css'>
    <link rel="stylesheet" type="text/css" media="print" href="~/js/EditOrders.js">
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/EditOrders.js" asp-append-version="true"></script>
</head>

<script>
    function SaveOrder() {
        var Id = @Model.Id;
        var TotalPrice = $("#SumePrice").val();
        var name = $("#bestandKundeInputName").val();
        var phone = $("#inputCustomerPhone").val();
        var adressStr = $("#AddressStr").val();
        var HomeNr = $("#HomeNr").val();
        var address = adressStr + " ," + HomeNr;

        if (name.trim() !== "") {
            $.ajax({
                url: '/api/EditOrder/EditSavedOrder',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: 'POST',
                data: JSON.stringify({ Id: Id, Name: name, Phone: phone, Address: address, TotalPrice: TotalPrice }),
                success: function (result) {

                    if (result) {
                        removeDetailsOrder();
                    }
                }
            });

        }
    }

    function removeDetailsOrder() {
        var Id = @Model.Id;
        $.ajax({
            url: '/api/RemoveDetailsOrder/RemoveDetails',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'POST',
            data: JSON.stringify({ Id: Id }),
            success: function (result) {
                if (result) {
                    saveBillDetails(Id);
                }
            }
        });
    }

    function DeleteRow(row) {
        document.querySelector('table').deleteRow(row);

        var tbody = document.querySelector("tbody");
        var SumePrice = document.getElementById('SumePrice');
        var DeliveryPrice = document.getElementById('StoreDeliveryPrice').value;

        // محاسبه کل مجموع مبالغ در جدول
        var tableRows = tbody.querySelectorAll("tr");
        var newTotalSum = 0;
        tableRows.forEach(function (tableRow) {

            var priceCell = tableRow.querySelector("#ItemPrice");
            if (priceCell) {
                var itemPrice = parseFloat(priceCell.textContent.replace("€", ""));
                newTotalSum += itemPrice;
            }else{
                var price = tableRow.querySelector("td:nth-child(3)");
                var itemPrice = parseFloat(price.textContent.replace("€", ""));
                newTotalSum += itemPrice;
            }
        });

        totalSum = newTotalSum;

        SumePrice.value = totalSum + parseFloat(DeliveryPrice);
    }

</script>

<h4>Edit order</h4>

<div class="form-check">
    <input class="form-check-input" type="checkbox" id="PickUp">
    <label class="form-check-label" for="PickUp">PickUp</label>
</div>

<div class="d-flex mainCard">
    <div class="col-8 colums">
        <div class="d-flex">
            <div class="card col-12">
                <div class="card-body" id="bestandKunde">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="bestandKundeInputName">Name</label>
                            <div class="d-flex">
                                <input type="text" class="form-control col-6 w-75 m-1" id="bestandKundeInputName" asp-for="Name" placeholder="Name">
                                <input type="text" class="form-control col-6 w-25 m-1" id="inputCustomerPhone" asp-for="Phone" placeholder="Phone">
                            </div>
                            <div class="form-group">
                                <label for="bestandKundeInputAdresse">Adresse</label>
                                <div class="d-flex">
                                    <input type="text" class="form-control col-6 w-75 m-1" id="AddressStr" oninput="getLocationInfo()" asp-for="Address" placeholder="Address">
                                    <input type="text" class="form-control col-6 w-25 m-1" id="HomeNr" placeholder="HomeNr">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-1">
            <div class="card-body" id="bestandKunde">
                <div class="col-12">
                    <div class="form-group">
                        <div class="d-flex">
                            <div class="form-group ms-2 col-3">
                                <form method="post">
                                    <label for="ProduktInputName">Product</label>
                                    <select name="ProduktInputName" asp-for="ProduktInputName" class="form-control" id="ProduktInputName" onchange="updateSize()">
                                        <option value=""> </option>
                                        @foreach (var item in Model.Products)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </form>
                            </div>
                            <div class="form-group ms-2 col-3" id="resultContainer">
                                <label for="ProduktInputSize">Size</label>
                                <select name="ProduktInputSize" class="form-control" id="ProduktInputSize" onchange="updatePrice()">
                                </select>
                            </div>
                            <div class="form-group ms-2 col-3" id="resultContainer">
                                <label for="ProduktInputPrice">Price</label>
                                <select name="ProduktInputPrice" class="form-control" id="ProduktInputPrice">
                                </select>
                            </div>
                            <div class="form-group ms-2 col-3">
                                <button type="submit" onclick="AddProduct()" class="btn btn-outline-success mt-md-4">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card form-group col-12 d-flex mt-1 d-none" id="ShowItemsCard">
            <div id="AddExtraItems"></div>
        </div>
    </div>

    <div class="col-4 d-flex card" id="tableBill">
        <table class="table card-body">
            <div class="card-header InfoText d-none" id="StoreInfo">
                <h5 class="text-center InfoText">@Model.StoreName</h5>
                <h6 class="text-center InfoText">@Model.StoreAddress , @Model.StorePLZ</h6>
                <h6 class="text-center InfoText">Phone: @Model.StorePhone</h6>
                @{
                    if (Model.StoreStId != null)
                    {
                        <h6 class="text-center InfoText">@Model.StoreStId</h6>
                    }
                }
            </div>
            <div class="card-header InfoText d-none" id="CustomerInfo">
                <h6 class="text-start InfoText" id="CustomerNameInfo"></h6>
                <h6 class="text-start InfoText" id="CustomerPhoneInfo"></h6>
                <h6 class="text-start InfoText" id="CustomerAddressInfo"></h6>
            </div>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th class="PrintHide">Edit</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var item in Model.Details)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>
                            @item.Product
                            <span style="font-size: smaller; display: block;">
                                <ul><li>@item.ExtraItems</li></ul>
                            </span>
                        </td>
                        <td class="ItemPrice">@item.Price</td>
                        <td>
                            <button class="btn btn-danger btn-sm PrintHide" onclick="DeleteRow(@i - 1)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            if (@Model.StoreDeliveryPrice != null)
            {
                <div class="d-flex card-footer PrintHide">
                    <lable for="StoreDeliveryPrice" class="mt-1 InfoText">Deliveri price:</lable>
                    <input type="text" value="@Model.StoreDeliveryPrice" class="form-control ms-2 w-25" id="StoreDeliveryPrice" />
                </div>
            }
            <label id="DeliveryPrice" class="text-end d-none"> </label> <br />
        }
        <label id="PrintSumePrice" class="text-end d-none"></label>
        <div class="d-flex card-footer PrintHide">
            <lable for="SumePrice" class="mt-1">Sume:</lable>
            <input type="text" class="form-control ms-2 w-25" value="@Model.SumePrice" id="SumePrice" />
            <button class="btn btn-success btn-sm ms-auto" onclick="SaveOrder()">Apply</button>
        </div>
    </div>
</div>

<div id="divLoading" style="position:fixed;left:0px;top:0px;bottom:0px;right:0px;background:rgba(0,0,0,0.5);color:#FFF;display:flex;align-items:center;justify-content:center">
    <div class="spinner-border" role="status">
    </div>
</div>