@page
@model CrmWeb.Pages.Clients.EditExtraItemsModel
@{
}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('#btnItem').addEventListener('input', updateButtonStatus);
        document.querySelector('#btnS').addEventListener('input', updateButtonStatus);
    });

    function updateButtonStatus() {
        var btnName = document.querySelector('#btnItem').value;
        var btnS = document.querySelector('#btnS').value;

        if (btnName.trim() === "") {
            btnSave.disabled = true;
        } else {
            btnSave.disabled = false;
        }
    }

    function checkPriceValue(input) {
        var formattedValue = parseFloat(input.value).toFixed(2);
        console.log("HAlo")
        if (!/^[0-9]*\.?[0-9]+$/.test(input.value) && input.value !== formattedValue) {
            input.classList.add("is-invalid");
            btnSave.disabled = true;
        } else {
            input.classList.remove("is-invalid");
            btnSave.disabled = false;
        }
    }
</script>

<form method="post">
    <div class="form-group">
        <div class="mt-2">
            <label asp-for="Item"></label>
            <input asp-for="Item" value="@Model.Item" id="btnItem" class="form-control" />
        </div>
        <div class="mt-2">
            <label asp-for="PriceS"></label>
            <input asp-for="PriceS" type="text" oninput="checkPriceValue(this)" value="@Model.PriceS" id="btnS" class="form-control" />
        </div>
        <div class="mt-2">
            <label asp-for="PriceM"></label>
            <input asp-for="PriceM" type="text" oninput="checkPriceValue(this)" value="@Model.PriceM" id="btnM" class="form-control" />
        </div>
        <div class="mt-2">
            <label asp-for="PriceL"></label>
            <input asp-for="PriceL" type="text" oninput="checkPriceValue(this)" value="@Model.PriceL" id="btnX" class="form-control" />
        </div>
        <div class="mt-2">
            <label asp-for="PriceXL"></label>
            <input asp-for="PriceXL" type="text" oninput="checkPriceValue(this)" value="@Model.PriceXL" id="btnXL" class="form-control" />
        </div>
        <div class="mt-2">
            <label asp-for="PriceXXL"></label>
            <input asp-for="PriceXXL" type="text" oninput="checkPriceValue(this)" value="@Model.PriceXXL" id="btnXLL" class="form-control" />
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-sm mt-4" id="btnSave">Save</button>
</form>