@page
@model CrmWeb.Pages.Clients.EditProductsModel
@{
}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        var CategoryType = @Model.CategoryType;
        if (CategoryType == "2") {
            $('#ProduktInputPreisM').removeClass('d-none');
            $('#ProduktInputPreisL').addClass('d-none');
            $('#ProduktInputPreisXL').addClass('d-none');
            $('#ProduktInputPreisXXL').addClass('d-none');
        }
        else if (CategoryType == "3") {
            $('#ProduktInputPreisM').removeClass('d-none');
            $('#ProduktInputPreisL').removeClass('d-none');
            $('#ProduktInputPreisXL').addClass('d-none');
            $('#ProduktInputPreisXXL').addClass('d-none');
        } else if (CategoryType == "4") {
            $('#ProduktInputPreisM').removeClass('d-none');
            $('#ProduktInputPreisL').removeClass('d-none');
            $('#ProduktInputPreisXL').removeClass('d-none');
            $('#ProduktInputPreisXXL').addClass('d-none');
        } else if (CategoryType == "5") {
            $('#ProduktInputPreisM').removeClass('d-none');
            $('#ProduktInputPreisL').removeClass('d-none');
            $('#ProduktInputPreisXL').removeClass('d-none');
            $('#ProduktInputPreisXXL').removeClass('d-none');
        }
        else if (CategoryType == "1") {
            $('#ProduktInputPreisM').addClass('d-none');
            $('#ProduktInputPreisL').addClass('d-none');
            $('#ProduktInputPreisXL').addClass('d-none');
            $('#ProduktInputPreisXXL').addClass('d-none');
        }
    });

    function ShowPriceOption() {
        var CategoryId = document.getElementById("ProduktInputCategory").value;
        if (CategoryId.trim() !== "") {
            $.ajax({
                url: '/api/GetCategory/Category',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: 'POST',
                data: JSON.stringify({ CategoryId: CategoryId }),
                success: function (result) {
                    if (result == "2") {
                        $('#ProduktInputPreisM').removeClass('d-none');
                        $('#ProduktInputPreisL').addClass('d-none');
                        $('#ProduktInputPreisXL').addClass('d-none');
                        $('#ProduktInputPreisXXL').addClass('d-none');
                    }
                    else if (result == "3") {
                        $('#ProduktInputPreisM').removeClass('d-none');
                        $('#ProduktInputPreisL').removeClass('d-none');
                        $('#ProduktInputPreisXL').addClass('d-none');
                        $('#ProduktInputPreisXXL').addClass('d-none');
                    } else if (result == "4") {
                        $('#ProduktInputPreisM').removeClass('d-none');
                        $('#ProduktInputPreisL').removeClass('d-none');
                        $('#ProduktInputPreisXL').removeClass('d-none');
                        $('#ProduktInputPreisXXL').addClass('d-none');
                    } else if (result == "5") {
                        $('#ProduktInputPreisM').removeClass('d-none');
                        $('#ProduktInputPreisL').removeClass('d-none');
                        $('#ProduktInputPreisXL').removeClass('d-none');
                        $('#ProduktInputPreisXXL').removeClass('d-none');
                    }
                    else if (result == "1") {
                        $('#ProduktInputPreisM').addClass('d-none');
                        $('#ProduktInputPreisL').addClass('d-none');
                        $('#ProduktInputPreisXL').addClass('d-none');
                        $('#ProduktInputPreisXXL').addClass('d-none');
                    }
                }
            });
        } else {
            $('#ProduktInputPreisM').addClass('d-none');
            $('#ProduktInputPreisL').addClass('d-none');
            $('#ProduktInputPreisXL').addClass('d-none');
            $('#ProduktInputPreisXXL').addClass('d-none');
        }
    }

    function checkName() {
        var name = document.querySelector('#InputName');
        var btnSave = document.querySelector('#btnSave');
        if (name.value.trim() === "") {
            name.classList.add("is-invalid");
            btnSave.disabled = true;
        } else {
            name.classList.remove("is-invalid");
            btnSave.disabled = false;
        }
    }

    function checkPriceValue(input) {
        var formattedValue = parseFloat(input.value).toFixed(2);

        if (!/^[0-9]*\.?[0-9]+$/.test(input.value) && input.value !== formattedValue) {
            input.classList.add("is-invalid");
            btnSave.disabled = true;
        } else {
            input.classList.remove("is-invalid");
            btnSave.disabled = false;
        }
    }
</script>

@if (!string.IsNullOrEmpty(Model.errorMessage))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (!string.IsNullOrEmpty(Model.successMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Model.successMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h2>Edit Products</h2>

<form method="post">
    <input type="hidden" asp-for="ProductId" />

    <div class="form-group">
        <div class="d-flex col-12">
            <div class="col-8">
                <label asp-for="ProduktInputName">Name</label>
                <input asp-for="ProduktInputName" class="form-control" id="InputName" oninput="checkName()" placeholder="Name" />
            </div>
            <div class="form-group col-4">
                <label for="ProduktInputPreis">Category</label>
                <select asp-for="Categoryvalue" class="form-control" id="ProduktInputCategory" onchange="ShowPriceOption()">
                    @foreach (var item in Model.categories)
                    {
                        if (item.Category == @Model.Categoryvalue)
                        {
                            <option tabindex="0" value="@item.Id" selected>@item.Category</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Category</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="mt-2">
            <label asp-for="ProduktInputPreisS">Price small</label>
            <input asp-for="ProduktInputPreisS" type="text" oninput="checkPriceValue(this)" id="PriceS" class="form-control" placeholder="Price" />
        </div>
        <div class="mt-2 d-none" id="ProduktInputPreisM">
            <label asp-for="ProduktInputPreisM">Price medium</label>
            <input asp-for="ProduktInputPreisM" type="text" oninput="checkPriceValue(this)" id="PriceM" class="form-control" placeholder="Price" />
        </div>
        <div class="mt-2 d-none" id="ProduktInputPreisL">
            <label asp-for="ProduktInputPreisL">Price large</label>
            <input asp-for="ProduktInputPreisL" type="text" oninput="checkPriceValue(this)" id="PriceL" class="form-control" placeholder="Price" />
        </div>
        <div class="mt-2 d-none" id="ProduktInputPreisXL">
            <label asp-for="ProduktInputPreisXL">price family</label>
            <input asp-for="ProduktInputPreisXL" type="text" oninput="checkPriceValue(this)" id="PriceXL" class="form-control" placeholder="Price" />
        </div>
        <div class="mt-2 d-none" id="ProduktInputPreisXXL">
            <label asp-for="ProduktInputPreisXXL">Price party</label>
            <input asp-for="ProduktInputPreisXXL" type="text" oninput="checkPriceValue(this)" id="PriceXXL" class="form-control" placeholder="Price" />

        </div>
    </div>
    <button type="submit" id="btnSave" class="btn btn-success btn-sm mt-2">Save</button>
</form>