@page
@model CrmWeb.Pages.Clients.ExtraItemsModel
@{
}

@section scripts {
    <script>
        $(document).ready(function () {
            // عملکرد برای جستجو و فیلتر
            $('#searchInput').on('keyup', function () {
                var value = $(this).val().toLowerCase();
                $('table tbody tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
                toggleClearSearchIcon();
            });

            // عملکرد برای پاک کردن مقدار جستجو
            $('#clearSearch').click(function () {
                $('#searchInput').val('').keyup();
            });

            // نمایش/مخفی کردن آیکون بستن جستجو
            function toggleClearSearchIcon() {
                var value = $('#searchInput').val();
                var clearSearch = $('#clearSearch');
                if (value.length > 0) {
                    clearSearch.show();
                } else {
                    clearSearch.hide();
                }
            }

            // اولین بار پنهان کردن آیکون بستن جستجو
            toggleClearSearchIcon();
        });
    </script>
 }

<div class="row mt-2">
    <div class="col-md-4">
        <div class="input-group">
            <input class="form-control border" type="search" placeholder="search" id="searchInput">
        </div>
    </div>
</div>

<form>

    <table class="table">
        <caption>List of staffs</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Price smal</th>
                <th scope="col">Price medium</th>
                <th scope="col">Price larg</th>
                <th scope="col">Price family</th>
                <th scope="col">Price party</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in Model.ExtraItems)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@item.Item</td>
                    <td>@item.PriceS</td>
                    <td>@item.PriceM</td>
                    <td>@item.PriceL</td>
                    <td>@item.PriceXL</td>
                    <td>@item.PriceXXL</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="/Clients/EditExtraItems?id=@item.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Clients/DeleteExtraItems?id=@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>