@page
@model CrmWeb.Pages.Clients.NewExtraItemModel
@{
}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('#btnItem').addEventListener('input', updateButtonStatus);
        document.querySelector('#btnS').addEventListener('input', updateButtonStatus);
    });

    function updateButtonStatus() {
        var btnName = document.querySelector('#btnItem').value;
        var btnS = document.querySelector('#btnS').value;

        if (btnName.trim() === "") {
            btnSave.disabled = true;
        } else {
            btnSave.disabled = false;
        }
    }

    function checkPriceValue(input) {
        var formattedValue = parseFloat(input.value).toFixed(2);

        if (!/^[0-9]*\.?[0-9]+$/.test(input.value) && input.value !== formattedValue) {
            input.classList.add("is-invalid");
            btnSave.disabled = true;
        } else {
            input.classList.remove("is-invalid");
            btnSave.disabled = false;
        }
    }
</script>

@if (!string.IsNullOrEmpty(Model.successMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Model.successMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h4>Create New Extra Item</h4>
<form method="post">
    <div class="form-group">
        <div class="mt-2">
            <label asp-for="Item"></label>
            <input asp-for="Item" value="@Model.Item" id="btnItem" class="form-control" />
        </div>
        <div class="mt-2">
            <label asp-for="PriceS"></label>
            <input asp-for="PriceS" value="@Model.PriceS" oninput="checkPriceValue(this)" id="btnS" class="form-control" />
        </div>       
        <div class="mt-2">
            <label asp-for="PriceM"></label>
            <input asp-for="PriceM" value="@Model.PriceM" oninput="checkPriceValue(this)" id="btnM" class="form-control" />
        </div>       
        <div class="mt-2">
            <label asp-for="PriceL"></label>
            <input asp-for="PriceL" value="@Model.PriceL" oninput="checkPriceValue(this)" id="btnX" class="form-control" />
        </div>       
        <div class="mt-2">
            <label asp-for="PriceXL"></label>
            <input asp-for="PriceXL" value="@Model.PriceXL" oninput="checkPriceValue(this)" id="btnXL" class="form-control" />
        </div>      
        <div class="mt-2">
            <label asp-for="PriceXXL"></label>
            <input asp-for="PriceXXL" value="@Model.PriceXXL" oninput="checkPriceValue(this)" id="btnXLL" class="form-control" />
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-sm mt-4" disabled id="btnSave">Save</button>
</form>