@page
@model CrmWeb.Pages.Clients.SavedOrdersModel
@{
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
    .visible-row {
        display: table-row;
    }

    .hidden-row {
        display: none;
    }

</style>
@section scripts {
    <script>

        $(document).ready(function () {
            updateSum();

            $('#searchInput').on('keyup', function () {
                var driver = $(".driver-dropdown").val();
                var allRows = $('table tbody tr');
                var value = $(this).val().toLowerCase();

                if (value === '') {
                    allRows.show();
                } else {
                    var filteredRows = allRows.filter(function () {
                        return $(this).text().toLowerCase().indexOf(value) > -1;
                    });

                    allRows.hide();
                    filteredRows.show();
                }
                updateSum();
            });
        });

        function updateSum() {
            var sum = 0;
            var columnCount = $('table thead tr th').length;
            var totalRow = $('<tr class="sum-row"></tr>');
            var cells = document.querySelectorAll("table tbody tr td:nth-child(5)");
            var table = document.querySelectorAll("table tbody tr");

            var trVisible = $('table tbody tr:visible');

            trVisible.each(function () {
                var tdDate = $(this).find('td:nth-child(4)');
                var tdFifthColumn = $(this).find('td:nth-child(5)');
                if (tdDate.text() !== "") {
                    sum += parseFloat(tdFifthColumn.text());
                }
            });

            totalRow.append('<td class="text-left">' + "Sum :" + '</td>');
            for (var i = 0; i < columnCount - 4; i++) {
                totalRow.append('<td></td>');
            }
            totalRow.append('<td class="text-left">' + sum + " €" + '</td>');

            for (var i = 5; i < columnCount; i++) {
                totalRow.append('<td></td>');
            }

            $('table tbody .sum-row').remove();
            $('table tbody').append(totalRow);
        }


        function AddDriver(orderId) {
            var driverId = $('#driverDropdown_' + orderId).val();

            if (driverId != "" || driverId != null) {
                $.ajax({
                    url: '/api/SetDriver/AddDriver',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    type: 'POST',
                    data: JSON.stringify({ OrderId: orderId, DriverId: driverId }),
                    success: function (result) {
                    }
                });
                $('#SavedModal').modal('show');
            }
        }

        //function salesReport() {
        //    $('#salesModal').show();

        //    var ctx = document.getElementById('salesChartCanvas').getContext('2d');
        //    var dates = @Html.Raw(Json.Serialize(Model.Orders.Where(_ => _.OrderDate != null).Select(_ => _.OrderDate.ToString("d")).ToList()));
        //    var sales = @Html.Raw(Json.Serialize(Model.Orders.Where(_ => _.TotalPrice != null).Select(_ => _.TotalPrice).ToList()));

        //    console.log(dates)
        //    console.log(sales)

        //    var salesChart = new Chart(ctx, {
        //        type: 'line',
        //        data: {
        //            labels: dates,
        //            datasets: [{
        //                label: 'Sales Report',
        //                data: sales,
        //                backgroundColor: 'rgba(75, 192, 192, 0.2)',
        //                borderColor: 'rgba(75, 192, 192, 1)',
        //                borderWidth: 1
        //            }]
        //        },
        //        options: {
        //            responsive: true,
        //            maintainAspectRatio: false,
        //            scales: {
        //                y: {
        //                    beginAtZero: true
        //                }
        //            }
        //        }
        //    });
        //}

        //$('#showSalesReport').on('click', function () {
        //    salesReport();
        //});
    </script>


 }

@*<div style="width: 80%; margin: auto;">
    <button id="showSalesReport">Sales Report</button>
</div>

<div id="salesModal" style="display: none;">
    <div style="width: 80%; margin: auto;">
        <canvas id="salesChartCanvas"></canvas>
    </div>
</div>*@


<div class="modal fade" id="SavedModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="text-success text-center">Driver Saved</p>
            </div>
        </div>
    </div>
</div>

<form method="post">
    <div class="row mt-2">
        <div class="col-md-3">
            <input class="form-control" placeholder="Search" id="searchInput">
        </div>

        <div class="col-md-3">
            <div class="input-group">
                <input type="date" class="form-control border" asp-for="filterDate" data="@Model.filterDate" min="01.01.2023" max="12.31.2030" id="FilterDate" />
                <button type="submit" class="btn btn-default btn-outline-success" id="btnFilterDate">Filter</button>
            </div>
        </div>

        <div class="col-md-3">
            <div class="input-group">
                <select class="form-control driver-dropdown btn-sm" asp-for="filterDriver" id="Filterdriver">
                    <option value="">Select a Driver</option>
                    @foreach (var driver in Model.Drivers)
                    {
                        <option class="btn-sm" value="@driver.Name">@driver.Name</option>
                    }
                </select>
                <button type="submit" class="btn btn-default btn-outline-success" id="btnFilterDriver">Filter</button>
            </div>
        </div>
    </div>
</form>

<form>
    <table class="table">
        <caption>List of Orders</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
                <th scope="col">Driver</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td class="orderDate">@item.OrderDate</td>
                    <td>@item.TotalPrice</td>
                    <td class="d-flex">
                        @{
                            if (string.IsNullOrEmpty(item.Driver))
                            {
                                <select class="form-control driver-dropdown w-50 btn-sm" id="driverDropdown_@item.Id">
                                    <option value="">Select a Driver</option>
                                    @foreach (var driver in Model.Drivers)
                                    {
                                        <option class="btn-sm" value="@driver.Id">@driver.Name</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <select class="form-control driver-dropdown w-50 btn-sm" id="driverDropdown_@item.Id">
                                    <option value="@item.Driver"> @item.Driver</option>
                                    @foreach (var driver in Model.Drivers)
                                    {
                                        if (@driver.Name != item.Driver)
                                        {
                                            <option value="@driver.Id">@driver.Name</option>
                                        }
                                    }
                                </select>
                            }
                            <a class="btn btn-outline-success btn-sm" href="javascript:void(0)" onclick="AddDriver(@item.Id)">Save</a>
                        }
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm" href="/Clients/EditOrders?id=@item.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Clients/DeleteOrders?id=@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>